.title {
  display: grid;
  font-size: 20pt;
  place-items: center;
}

.headline {
  display: grid;

  font-size: 14pt;
  place-items: center;
  padding-bottom: 30px;
}

span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
